<!-- SNIPPETS: product-thumbnail.liquid -->

<a href="{{ product.url | within: collection }}" class="grid__image">
  <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
</a>

<p>
  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
</p>

<!-- END: product-thumbnail.liquid -->
